.main {
    margin-top: 50px;
}

.form-group {
    margin-bottom: 10px;
}

.main-center {
    padding: 20px 40px 20px 40px;
    background-color: #E1E8ED;
}

.sign-up {
    margin-top: 20px;
}
.sign-up a:hover {
    text-decoration: none;
}

.card-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

body {
    font-size: 16px;
    background-color: #F5F8FA;
    color: #657786;
    padding: 70px;
}

#header-nav {
    background-color: white;
    border-radius: 0;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

a#logo:hover {
    color: #45668e;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #45668e;
}

#user-info {
    padding: 10px;
}

#user-info h3 {
    color: #14171A;
    margin: 0;
}

#user-info a:hover {
    color: #14171A;
}

#user-info h4 {
    color: #AAB8C2;
    font-size: 14px;
}

#user-info p {
    font-size: 12px;
    margin: 0;
}

#user-info .user-avatar {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
}

#post-text {
    border: 0;
    padding: 10px;
    resize: none;
}

.post .user-avatar {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 10%;
}

div.col-md-1 {
    padding: 0;
}

.post {
    padding: 15px 0 10px 15px;
    width: inherit;
    overflow: hidden;
    word-wrap: break-word;
    min-height: 89px;
}

.post h3, .post h3 a {
    font-size: 14px;
    color: #14171A;
    margin: 0;
}

.post h3 span {
    font-size: 12px;
    color: #AAB8C2;
}

.post h4 {
    color: #AAB8C2;
    font-size: 14px;
}

.post p {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-remove, .post-edit, .post-edit-ok, .post-like, .post-comment {
    font-size: 14px;
    color: #AAB8C2;
    margin-right: 15px;
}

.post-like, .post-comment {
    float: left;
}

.post-remove:hover, .post-edit:hover, .post-edit-ok:hover, .post-comment:hover span {
    color: #14171A;
}

.post-like span, .post-comment span {
    margin-right: 15px;
}

.post-like .glyphicon:hover {
    color: red;
}

.post-like-engaged {
    color: red;
}

.post-edit-text {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: block;
    resize: none;
    width: 100%;
    border: solid 1px;
    border-radius: 2px;
}

.top-10 {
    margin-top: 10px;
}
